{% assign s = section %}
{% assign ss = s.settings %}

<link
  rel="stylesheet"
  href="{{ 'normalize.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'swiper.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'section-slider.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<style>
  .slider__title {
    text-align: {{ss.text_align}};
    font-size: {{ss.title_font_size}}px;
  }
</style>
<section class="slider container">
  <h2 class="slider__title">
    {{ss.slider_title}}
  </h2>
  <div thumbsSlider="" class="swiper swiper-thumb">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
        {% if block.settings.thumb_slide_svg != blank %}
          {{block.settings.thumb_slide_svg}}
        {% else %}
          <img src="{{block.settings.thumb_slide_image | img_url: '150x'}}">
        {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper swiper-gallery">
    <div class="swiper-button-prev">
      {% render 'arrow-left' %}
    </div>
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide slide">
          <div class="slide__image">
            <img src="{{block.settings.slide_image | img_url: '150x'}}">
          </div>
          <div class="slide__descr descr">
            <div class="descr__title">
              <p>
                {{block.settings.slide_title}}
              </p>
            </div>
            <div class="descr__subtitle">
              <p class="prof">
                {{block.settings.slide_prof_subtitle}}
              </p>
              {% if block.settings.slide_location_subtitle !=blank %}
                <p>
                  |
                </p>
              {% endif %}
              <p class="location">
                {{block.settings.slide_location_subtitle}}
              </p>
            </div>
            <div class="descr__text">
              <p>
                {{block.settings.slide_text}}
              </p>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="swiper-button-next">
      {% render 'arrow-right' %}
    </div>
    
  </div>
</section>

<script src="{{ 'swiper.js' | asset_url }}"></script>
<script src="{{ 'slider.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "slider",
    "settings": [
      {
        "type": "text",
        "id": "slider_title",
        "label": "Title text"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Title align:",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "title_font_size",
        "min": 12,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Title font size",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "slider_items",
        "name": "slider item",
        "settings": [
          {
            "type": "header",
            "content": "TOP SECTION",
            "info": "Add image to top slider section"
          },
          {
            "type": "paragraph",
            "content": "Select Thumb image here (SVG will be propertly):"
          },
          {
            "type": "textarea",
            "id": "thumb_slide_svg",
            "label": "Thumb slide svg"
          },
          {
            "type": "image_picker",
            "id": "thumb_slide_image",
            "label": "Thumb slide image"
          },
          {
            "type": "header",
            "content": "BOTTOM SECTION",
            "info": "Add image and text to bottom slider section"
          },
          {
            "type": "image_picker",
            "id": "slide_image",
            "label": "Slide image"
          },
          {
            "type": "text",
            "id": "slide_title",
            "label": "Slide title"
          },
          {
            "type": "text",
            "id": "slide_prof_subtitle",
            "label": "Slide profession subtitle"
          },
          {
            "type": "text",
            "id": "slide_location_subtitle",
            "label": "Slide location subtitle"
          },
          {
            "type": "textarea",
            "id": "slide_text",
            "label": "Slide text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "slider",
        "blocks": [
          {
            "type": "slider_items"
          }
        ]
      }
    ]
  }
{% endschema %}